{% if sharethis %}
{% if title is not defined or title%}<h4>Share</h4>{% endif %}
<nav class="sharethis">
    <span class='st_sharethis_custom' displayText='ShareThis'></span>
    <span class='st_facebook_custom' displayText='Facebook'></span>
    <span class='st_twitter_custom' displayText='Tweet'></span>
    <span class='st_linkedin_custom' displayText='LinkedIn'></span>
    <span class='st_pinterest_custom' displayText='Pinterest'></span>
    <span class='st_email_custom' displayText='Email'></span>
</nav>
{% endif %}