<form role="search" method="get" class="search-form" action="{{ site.url }}">
    <div class="input-group">
        <span class="input-group-label screen-reader-text show-for-sr">Search for</span>
        <input class="input-group-field" name="s" type="search" placeholder="Search">
        <div class="input-group-button">
            <button type="submit" class="button" value="Search"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
<h4>Categories</h4>
{% for cat in categories %}
    <a href="{{cat.link}}" class="hollow button">{{cat.name}}</a>
{% endfor %}