<div class="wrap">
    <h1>{{ title }}</h1>
    {% if success %}
        <div class="notice notice-success"><p>Cache Cleared</p></div>
    {% else %}
        <div class="notice notice-info"><p>Nothing to clear. Caching is currently disabled.</p></div>
    {% endif %}
</div>