{% extends 'base.html.twig' %}
{% block content %}
    <div class="row align-center">
        <div class="large-6 columns">
            <h1>This page cannot be found</h1>
            {{ form }}
        </div>
    </div>
{% endblock %}